version: "3.8"

services:
  qdrant:
    image: 'qdrant/qdrant:latest'
    container_name: qdrant_vector
    ports:
      - '6333:6333'
      - '6334:6334'
    networks:
      - local-net

networks:
  local-net:
    external: true